mixin img(imgPath,title,addClass,showModal)
  img.img--full.img--center(
    src!=`${imgPath}`, 
    alt!=`${title}`,
    title!=`${title}`,
    draggable="false",
    loading="lazy",
    class!=`${addClass ? `${addClass}` : ""} ${showModal ? showModal : ""} `)