mixin picture(imgPath,title,addClass,showModal)
  picture(class=`${addClass ? `${addClass}__picture` : ""}`) 
    source(
      srcset="img/preloader.gif", 
      data-lazy-srcset!=`${imgPath}`)
    img.img--full.img--center(
      src="img/preloader.gif",
      data-lazy-src!=`${imgPath}`, 
      alt!=`${title}`,
      title!=`${title}`,
      draggable="false",
      loading="lazy",
      class!=`${addClass ? `${addClass}__image` : ""} ${showModal ? showModal : ""} `)
