mixin select(addID,addClass,title,checkArrow,options,selectName)
  div(class=`custom-select-wrapper ${addClass}-select-wrapper`)
    div(class=`custom-select ${addClass}-select`)
      select(
        id=`${addID}`,
        class=`custom-select-input ${addClass}-select-input`,
        required='',
        name=`${selectName}`)
        option(label='variant')
      div(class=`custom-select__trigger ${addClass}-select__trigger`)
        span!=title
        if checkArrow==triangle
          span(class=`triangle ${addClass}-triangle`)
        else 
          span(class=`arrow ${addClass}-arrow`)
      div(class=`custom-options ${addClass}-options`)
        each option, index in options
          - var count = index+1
          - var itemTitle = option[0]
          if count==1
            span(class=`custom-option ${addClass}-option selected`,data-value='def')!=title
          else
            span(class=`custom-option ${addClass}-option`,data-value=`${itemTitle}`)!=itemTitle 
          