#modal__form.modal
  .modal__body
    
    form.modal__form.modal__content(action="#")
      a.modal__close.close__modal(href="#",role="button") 
        span
        span
      fieldset.modal__form-content
        legend.modal__form-title Заголовок формы      
        input.modal__form-input(
          required,
          placeholder="Введите имя",
          type="text",
          name="name",
          )
        input.modal__form-input(
          required,
          placeholder="Введите телефон",
          type="tel",
          name="phone",
          )
        input.modal__form-input(
          required,
          placeholder="Введите e-mail",
          type="email",
          name="E-mail")
        textarea.modal__form-textarea(
          name="Сообщение",
          cols="30",
          rows="10",
          placeholder="Введите текст")
        button.btn(type='submit').btn.modal__btn Отправить 